.fl {
  float: left;
}
.fr {
  float: right;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.underline {
  text-decoration: underline;
}
.width50 {
  width: 50%;
}
.unstyledlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.padleft20 {
  padding-left: 20px;
  margin: 0;
}
.group:before,
.group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}
.borderBox {
  box-sizing: border-box;
}
.defaultBorder {
  border: 2px solid #000;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
  background: #1cb841;
  /* this is a green */
}
.button-error {
  background: #ca3c3c;
  /* this is a maroon */
}
.button-warning {
  background: #df7514;
  /* this is an orange */
}
.button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}
.ng-submitted .ng-invalid.ng-touched {
  border-color: #ff2118 !important;
}
.errorContainer {
  width: 75%;
  margin: 0 auto;
  border: 1px solid #ff2118;
  padding: 10px;
  background: #fecad3;
  border-radius: 5px;
  text-align: center;
}
